### RFM 분석
####  사용자별로 얼마나 최근에, 얼마나 자주, 얼마나 많은 금액을 지출했는지에 따라 사용자들의 분포를 확인할 수 있고, 사용자 그룹(또는 등급)을 나누어 분류하는 분석 기법이다. 구매 가능성이 높은 고객을 선정할 때 용이한 데이터 분석 방법이며, 사용자들의 평소 구매 패턴을 기준으로 분류를 진행하기 때문에 각 사용자 그룹의 특성에 따라 차별화된 마케팅 메세지를 전달할 수 있다.

- Recency : 얼마나 최근에 구매했는가
- Frequency : 얼마나 자주 구매했는가
- Monetary : 얼마나 많은 금액을 지출했는가

### 고객 분석

> voice_no: 송장 번호. 명사 같은. 각 작업에 고유하게 할당된 문자 'I'와 6자리 정수의 조합  
customer_id: 고객번호. 명사 같은. 각 작업에 고유하게 할당된 문자 'C'와 6자리 정수의 조합  
gender: 고객 성별의 문자열 변수  
age: 고객 연령의 양의 정수 변수  
category: 구매한 상품 카테고리의 문자열 변수 
quantity: 거래당 각 제품(항목)의 수량  
price: 단가. 숫자. 단위당 제품 가격은 터키 리라(TL)  
payment_method: 거래에 사용된 결제 방법(현금, 신용 카드 또는 직불 카드)의 문자열 변수  
invoice_date: 송장 날짜. 거래가 발생한 날  
shopping_mall: 거래가 이루어진 쇼핑몰 이름의 문자열 변수

In [1]:
import pandas as pd

customer_shopping_df = pd.read_csv('./datasets/customer_shopping_data.csv')

# 데이터 확인하기
display(customer_shopping_df)

# 컬럼의 자세한 정보 확인하기
customer_shopping_df.info()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

### 결측치 검사
📌 결측치: 값이 없는 것, Null 또는 NA로 표현.

In [2]:
# 컬럼별 결측치 개수 검사
customer_shopping_df.isnull().sum().sum()

0

### 중복 행 검사

In [3]:
customer_shopping_df.duplicated().sum()

0

### 데이터 전처리
> 데이터 유형을 변환하거나 데이터 분석에 용이한 형태로 변환하는 작업을 통해,  
불필요한 컬럼 삭제, 열 병합 등을 통해 데이터를 정제하는 처리방식

- invoice_date를 오늘 날짜로부터 몇 일 차이인지로 변환
- customer_id별 invoice_no의 개수를 구해서 구매 횟수로 변환
- quantity와 price를 곱하여(총 주문 가격) monetary로 변환

In [5]:
today = '04/10/2023'
today = pd.to_datetime(today, dayfirst=True)

customer_shopping_df['Recency'] = today - pd.to_datetime(customer_shopping_df['invoice_date'], dayfirst=True)
customer_shopping_df['Recency'] = customer_shopping_df['Recency'].astype('int64') // 1000000000 // 60 // 60 // 24
customer_shopping_df.drop('invoice_date', axis=1, inplace=True)
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,425
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,661
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,694
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,871
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,710
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,378
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,742
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,920
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,932
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,354

In [8]:
customer_shopping_df['Frequency'] = customer_shopping_df[['invoice_no']].count(axis=1)
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency,Frequency
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,425,1
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,661,1
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,694,1
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,871,1
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,710,1
...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,378,1
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,742,1
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,920,1
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,932,1
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,354,1

In [9]:
customer_shopping_df['Monetary'] = customer_shopping_df['quantity'] * customer_shopping_df['price']
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency,Frequency,Monetary
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,425,1,7502.00
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,661,1,5401.53
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,694,1,300.08
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,871,1,15004.25
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,710,1,242.40
...,...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,378,1,293.25
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,742,1,20.92
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,920,1,20.92
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,932,1,16800.00
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,354,1,105.57

### 정규화(Normalization)
값의 범위를 0~1사이로 변환시켜 모든 컬럼의 데이터가 평등하게 만들어준다.  
서로 다른 단위의 값은 비교대상이 될 수 없다. 예를 들어, 80kg과 180cm는 비교할 수 없기에 정규화를 사용하여 비교한다.

In [13]:
from sklearn.preprocessing import MinMaxScaler

normalization = MinMaxScaler()
rfm_normalization = normalization.fit_transform(customer_shopping_df[['Recency', 'Frequency', 'Monetary']])
rfm_normalization = pd.DataFrame(rfm_normalization, columns=['Recency', 'Frequency', 'Monetary'])
display(rfm_normalization)

        Recency  Frequency  Monetary
0      0.270101        0.0  0.285648
1      0.566583        0.0  0.205614
2      0.608040        0.0  0.011235
3      0.830402        0.0  0.571505
4      0.628141        0.0  0.009037
...         ...        ...       ...
99452  0.211055        0.0  0.010974
99453  0.668342        0.0  0.000598
99454  0.891960        0.0  0.000598
99455  0.907035        0.0  0.639928
99456  0.180905        0.0  0.003823

[99457 rows x 3 columns]

In [14]:
customer_shopping_df[['Recency', 'Frequency', 'Monetary']] = rfm_normalization[['Recency', 'Frequency', 'Monetary']]
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency,Frequency,Monetary
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,0.270101,0.0,0.285648
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,0.566583,0.0,0.205614
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,0.608040,0.0,0.011235
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,0.830402,0.0,0.571505
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,0.628141,0.0,0.009037
...,...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,0.211055,0.0,0.010974
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,0.668342,0.0,0.000598
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,0.891960,0.0,0.000598
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,0.907035,0.0,0.639928
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,0.180905,0.0,0.003823